body {
  padding: 30px;
}

h1 {
  color: rgb(80, 103, 149);
  text-align: center;
  margin-bottom: 40px;
}

.cart {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

div.product_card {
  background-color: rgb(240, 251, 255);
  border-radius: 25px;
  width: 45%;
  padding: 20px;
}

div.product_card img {
  max-width: 300px;
  width: 100%;
}

.cart button {
  border: none;
  height: 30px;
}

@media (max-width: 976px) {
  div.product_card {
    width: 100%;
  }

  div.product_card img {
    max-width: 500px;
  }
}

.form_container input {
  display: block;
}