body {
  padding: 30px;
}

.cart h1 {
  color: rgb(75, 122, 215);
  text-align: center;
  margin-bottom: 40px;
}

.cart div {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.cart button {
  border: none;
  height: 30px;
}